KERNEL_ARCH_CFLAGS=-Iarch/x86/include -Iacpi/acpica \
    -mgeneral-regs-only \
    -DARCH_x86_64 \
    -mcmodel=kernel \
    -mno-mmx -mno-sse -mno-sse2 -mno-sse3 -mno-sse4.1 -mno-sse4.2 -mno-avx -mno-avx2
KERNEL_ARCH_LDFLAGS=-static
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/kernel/head_64.o

LINKER_SCRIPT=$(ARCHDIR)/link64.ld
