KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/entry/syscall_tbl.o \
$(ARCHDIR)/entry/interrupts.o \
$(ARCHDIR)/entry/common.o \
$(ARCHDIR)/entry/faults.o \
$(ARCHDIR)/kernel/idt.o \
$(ARCHDIR)/kernel/pic.o \
$(ARCHDIR)/kernel/io.o \
$(ARCHDIR)/kernel/keyboard.o \
$(ARCHDIR)/kernel/interrupt.o \
$(ARCHDIR)/kernel/kmm.o \
$(ARCHDIR)/kernel/apic/apic.o \
$(ARCHDIR)/kernel/apic/lapic.o \
$(ARCHDIR)/kernel/apic/ioapic.o \
$(ARCHDIR)/kernel/apic/cpu_init.o \
$(ARCHDIR)/kernel/smp.o \
$(ARCHDIR)/kernel/timer.o \
$(ARCHDIR)/kernel/pit.o \
$(ARCHDIR)/kernel/process.o \
$(ARCHDIR)/kernel/sleep.o \
$(ARCHDIR)/kernel/system.o \
$(ARCHDIR)/kernel/uaccess.o \
$(ARCHDIR)/kernel/user_copy.o \
$(ARCHDIR)/hardware/rtc.o

KERNEL_ARCH_CFLAGS=

ARCH_GEN_INCLUDES_DIR=$(ARCHDIR)/include/generated

KERNEL_ARCH_ASM_GEN_C=\
$(ARCHDIR)/asm-offsets.c

KERNEL_ARCH_ASM_GEN_S := $(patsubst $(ARCHDIR)/%.c,$(ARCH_GEN_INCLUDES_DIR)/%.s,$(KERNEL_ARCH_ASM_GEN_C))
KERNEL_ARCH_ASM_GEN_H := $(patsubst $(ARCHDIR)/%.c,$(ARCH_GEN_INCLUDES_DIR)/%.h,$(KERNEL_ARCH_ASM_GEN_C))
