KERNEL_ARCH_GEN_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/entry/syscall_tbl.o \
$(ARCHDIR)/entry/interrupts.o \
$(ARCHDIR)/entry/common.o \
$(ARCHDIR)/kernel/idt.o \
$(ARCHDIR)/kernel/pic.o \
$(ARCHDIR)/kernel/io.o \
$(ARCHDIR)/kernel/keyboard.o \
$(ARCHDIR)/kernel/interrupt.o \
$(ARCHDIR)/kernel/faults.o \
$(ARCHDIR)/kernel/pgframe.o \
$(ARCHDIR)/kernel/kmm.o \
$(ARCHDIR)/kernel/elf.o \
$(ARCHDIR)/kernel/apic/apic.o \
$(ARCHDIR)/kernel/apic/lapic.o \
$(ARCHDIR)/kernel/apic/ioapic.o \
$(ARCHDIR)/kernel/apic/cpu_init.o \
$(ARCHDIR)/kernel/timer.o \
$(ARCHDIR)/kernel/pit.o \
$(ARCHDIR)/kernel/process.o \
$(ARCHDIR)/kernel/sleep.o \
$(ARCHDIR)/kernel/uaccess.o \
$(ARCHDIR)/kernel/user_copy.o \
$(ARCHDIR)/hardware/rtc.o
