include $(ARCHDIR)/make.config

KERNEL_ARCH_CFLAGS=-Iarch/x86/include -Iacpi/acpica \
    -mgeneral-regs-only \
    -DARCH_x86
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_32_OBJS=\
$(ARCHDIR)/kernel/head_32.o \
$(ARCHDIR)/kernel/head32.o \
$(ARCHDIR)/entry/entry32.o \
$(ARCHDIR)/entry/entry_32.o \
$(ARCHDIR)/entry/syscall_32.o \
$(ARCHDIR)/kernel/paging.o 

KERNEL_ARCH_OBJS=$(KERNEL_ARCH_32_OBJS) $(KERNEL_ARCH_GEN_OBJS)

LINKER_SCRIPT=$(ARCHDIR)/link32.ld
