KERNEL_ARCH_CFLAGS=-I arch/x86/include -I acpi/acpica
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/kernel/cpu/fpu.o \
$(ARCHDIR)/kernel/head_32.o \
$(ARCHDIR)/kernel/head32.o \
$(ARCHDIR)/kernel/tty.o \
$(ARCHDIR)/kernel/gdt.o \
$(ARCHDIR)/kernel/idt.o \
$(ARCHDIR)/kernel/pic.o \
$(ARCHDIR)/kernel/io.o \
$(ARCHDIR)/kernel/keyboard.o \
$(ARCHDIR)/kernel/interrupts.o \
$(ARCHDIR)/kernel/interrupt.o \
$(ARCHDIR)/kernel/faults.o \
$(ARCHDIR)/kernel/pgframe.o \
$(ARCHDIR)/kernel/paging.o \
$(ARCHDIR)/kernel/kmm.o \
$(ARCHDIR)/kernel/elf.o \
$(ARCHDIR)/kernel/apic/apic.o \
$(ARCHDIR)/kernel/apic/lapic.o \
$(ARCHDIR)/kernel/apic/ioapic.o \
$(ARCHDIR)/kernel/apic/cpu_init.o \
$(ARCHDIR)/kernel/timer.o \
$(ARCHDIR)/kernel/pit.o \
$(ARCHDIR)/kernel/process.o \
$(ARCHDIR)/entry/entry32.o \
$(ARCHDIR)/entry/entry_32.o \
$(ARCHDIR)/entry/syscall_32.o
