include $(ARCHDIR)/make.config

KERNEL_ARCH_CFLAGS=-Iarch/x86/include -Iacpi/acpica \
    -mgeneral-regs-only \
    -DARCH_x86_64 \
    -mcmodel=kernel
KERNEL_ARCH_LDFLAGS=-static
KERNEL_ARCH_LIBS=

KERNEL_ARCH_64_OBJS=\
$(ARCHDIR)/kernel/head_64.o \
$(ARCHDIR)/kernel/head64.o \
$(ARCHDIR)/entry/entry_64.o \
$(ARCHDIR)/kernel/paging64.o

KERNEL_ARCH_OBJS=$(KERNEL_ARCH_64_OBJS) $(KERNEL_ARCH_GEN_OBJS)

LINKER_SCRIPT=$(ARCHDIR)/link64.ld
