/.vscode
/sysroot
lilac.ker
lilac.iso
*.o
*.d
/isodir
*.img
*.DS_Store
kernel/.DS_Store
libc/.DS_Store
/user_code
/docs
debug.txt
log.txt
dump.txt
kbuild.config
libc/libk.a
kernel/l.sh
libc/libc.a
init/init
kernel/drivers/acpi/acpi.lib
resources/code/inodes.txt
user/ls
*.old
