/.vscode
/sysroot
lilac.kernel
lilac.iso
*.o
*.d
/isodir
*.img
*.DS_Store
kernel/.DS_Store
libc/.DS_Store
user_code/*
docs/IntelManual.pdf
docs/acpica-reference-19.pdf
debug.txt
log.txt
kbuild.config
libc/libk.a
kernel/l.sh
