KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/kernel/tty.o \
$(ARCHDIR)/kernel/gdt.o \
$(ARCHDIR)/kernel/gdtset.o \
$(ARCHDIR)/kernel/idt.o \
$(ARCHDIR)/kernel/pic.o \
$(ARCHDIR)/kernel/keyboard.o \
$(ARCHDIR)/kernel/interrupts.o \
$(ARCHDIR)/kernel/traps.o
