insmod bli
insmod all_video
set root=(hd0,gpt1)
set gfxmode=auto
# set intel_iommu=on
# multiboot2 /boot/lilac.kernel
menuentry "Lilac" {
    # set intel_iommu=on
    multiboot2 /boot/lilac.ker root=C4C23223-E48A-46F0-B99B-D8D2F76D86F8 rootfstype=msdos
}
